* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
} 

.container {
    position: relative;
    width: 500px;
    height: 300px;
    margin: 50px auto 0;
}

input {
    display: none;
}

main {
    width: inherit;
    height: inherit;
    position: relative;
    border: 3px solid #000;
    border-radius: 5%/8%;
    box-shadow: 0 3px 12px;
    overflow: hidden;
}

img {
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
}

.img1 {
    margin-top: -84px;
    margin-left: -150px;
}

.img2 {
    margin-top: -86px;
    margin-left: -148px;
}

.img3 {
    margin-top: -127px;
    margin-left: -100px;
}

.img4 {
    margin-top: -84px;
    margin-left: -150px;
}

.img5 {
    margin-top: -136px;
    margin-left: -93px;
}

#slide1:checked ~ main .img1,
#slide2:checked ~ main .img2,
#slide3:checked ~ main .img3,
#slide4:checked ~ main .img4,
#slide5:checked ~ main .img5 {
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

label {
    position: absolute;
    display: block;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    top: 50%;
    margin-top: -20px;
    cursor: pointer;
}

#slide1:checked ~ nav label:nth-of-type(5),
#slide2:checked ~ nav label:nth-of-type(1),
#slide3:checked ~ nav label:nth-of-type(2),
#slide4:checked ~ nav label:nth-of-type(3),
#slide5:checked ~ nav label:nth-of-type(4) {
    border-right: 30px solid #000;
    left: -30px;
}

#slide1:checked ~ nav label:nth-of-type(2),
#slide2:checked ~ nav label:nth-of-type(3),
#slide3:checked ~ nav label:nth-of-type(4),
#slide4:checked ~ nav label:nth-of-type(5),
#slide5:checked ~ nav label:nth-of-type(1) {
    border-left: 30px solid #000;
    right: -30px;
}